$body: #275D70;
$dark: #2F4858;
$primaryOne: #20b899;
$primaryTwo: #00A199;
$primaryThree: #008A92;
$primaryFour: #107384;
$lightGrey: #eceef2;
$lighterGrey: #fbfbfd;
$darkGrey: #a7b3c6;
$borderWhite: #f4f4f9;