#nav {
     height: 70px;

     &:after {
        content: "";
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-color: rgba(33, 38, 49, 0.5);
        z-index: 90;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
     }

     &.shadow-active {
        &:after {
            opacity: 1;
            visibility: visible;
        }
     }

     &.container {
        position: relative;
     }
}

#nav-fixed {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 90;
    background-color: white;
    -webkit-box-shadow: 0px -1px 0px 0px $lightGrey inset;
    box-shadow: 0px -1px 0px 0px $lightGrey inset;

    &.slide-down {
        -webkit-animation: slide-down 0.3s;
        animation: slide-down 0.3s;
    }

    &.slide-up {
        -webkit-animation: slide-up 0.3s;
        animation: slide-up 0.3s;
        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;   
    }
}

@-webkit-keyframes slide-down {
    from {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    to {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
}
@keyframes slide-down {
    from {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
    to {
        -webkit-transform:translateY(0%);
         transform:translateY(0%);
    }
}
@-webkit-keyframes slide-up {
    from {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
    to {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}
@keyframes slide-up {
    from {
        -webkit-transform:translateY(0%);
        transform:translateY(0%);
    }
    to {
        -webkit-transform:translateY(-100%);
        transform:translateY(-100%);
    }
}

.nav-logo {
    float: left;

    .logo {
        line-height: 70px;
        display:inline-block;

        img {
            max-height: 70px;
        }
    }
}

@media only screen and (max-width: 991px) {
     #nav {
        .nav-menu {
            display: none;
        }
    }
}
